### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
# === ENTORNO PYTHON ===
venv/
__pycache__/
*.pyc
*.pyo

# === VARIABLES SENSIBLES ===
.env
*.env

# === CREDENCIALES ===
credenciales.json
credentials.json

# === ARCHIVOS GENERADOS POR TU APP ===
respaldo_*.csv
last_log.txt

# === CONFIGURACION IDE ===
.vscode/
.idea/

# === SISTEMA OPERATIVO ===
.DS_Store
Thumbs.db

# === ARCHIVOS TEMPORALES ===
*.tmp
*.log